@import './colors';
@import './animation';
@import './mixin';
@import './components';
*,
*::before,
*::after {
	box-sizing: border-box;
}
body {
	font-family: 'Montserrat', sans-serif;
	line-height: 1.6;
	margin: 0;
	padding: 0;
}
html {
	font-size: 62.5%;
	scroll-behavior: smooth;
	scroll-padding-top: 50px;
}

.navbar {
	position: sticky;
	top: 0;
	background: $very-light-brown;
	height: 80px;
	display: flex;
	justify-content: space-between;
	padding: 0.5rem calc((100vw - 1200px) / 2);
	z-index: 1000;

	&__logo {
		display: flex;
		margin: 5px 24px;
	}

.fa-brands {
	position: relative;
			color: $dark-brown;
			text-decoration: none;
			padding: 0 2rem;
			font-size: 3rem;
}
.fa-brands:hover {
	color: $brown;
}



	&__menu {
		margin-right: 24px;
		align-items: center;
		display: flex;

		&--links {
			position: relative;
			color: $dark-brown;
			text-decoration: none;
			padding: 0 2rem;
			font-size: 2rem;
			text-transform: uppercase;
			letter-spacing: 2px;

			&:hover {
				color: $brown;
			}

			&::before {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				content: '';
				border: 1px solid $brown;
				opacity: 0;
			}
			&:hover::before {
				animation: pulse 1s;
			}
		}
	}
}
.hamburger {
	display: none;
	cursor: pointer;
	padding: 1em;
	margin: auto 20px;
	
}

.bar {
	display: block;
	width: 25px;
	height: 3px;
	margin: 5px auto;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	background-color: $dark-brown;
}

// header

.header {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 16em;
	height: 75vh;
	text-align: center;
	background-attachment: scroll;
	overflow: hidden;

	&__img {
		top: 0;
		background-attachment: scroll;
		width: 100%;
		@include heroImages('../img/hero.jpg');
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		z-index: -100;
		height: 75vh;
		animation: zoom-in-zoom-out 40s ease infinite;
	}

	&__heading {
		font-family: 'Alluar', cursive;
		font-size: 4.8rem;
		font-weight: 600;
		color: $white;
		margin: 0.2em;
	}
	&__text {
		font-size: 3.4rem;
		color: $white;
		margin: 0.2em;
	}

	&__btn {
		
	display: flex;
	justify-content: center;
	align-items: center;
		margin-top: 2em;
		padding: 0.8em 1.6em;
		font-size: 1.4rem;
		background: $light-brown;
		color: $white;
		border: none;
		border-radius: 8px;
		text-decoration: none;
		text-transform: uppercase;
		cursor: pointer;
		transition: background-color 0.3s;

		&:hover {
			background-color: $brown;
		}
	}
}

// o nas

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}

.about {
	
	&__heading {
		font-size: 4em;
		font-weight: 300;
		text-align: center;
		color: $dark-brown;
		letter-spacing: 1px;
		// padding: 0.5em;
		margin-bottom: 0;
		font-family: 'Alluar', cursive;
		
	}

	&__box {
		display: flex;
		flex-direction: column;
		margin: 0 2em;
	}

	&__text {
		font-size: 1.4rem;
		text-align: center;
		padding: 1em 10em;
		
	}
}

// about
.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}

// house  
.houses {
	display: block;
	width: 100%;
	padding: 1em;
	background-color: $white-smoke;
	&__house {
		position: relative;
		margin: 10px;
		height: 400px;
			width: 100%;
		text-align: center;
		background-position: center;
		background-size: cover;
		border-radius: 8px;
		box-shadow:rgba(61, 57, 53, 0.76);
		overflow: hidden;
		&--one {
			background-image: url(../img/julka.jpg);
		}
		&--two {
			background-image: url(../img/kuba.jpg);
		}
	}
	
	
}




button {
	position: absolute;
	top: 80%;
	right: 45%;
	padding: 10px;
	background: none;
	border: none;
	color: $white;
	font-size: 36px;
	text-shadow: 2px 2px 5px rgb(0, 0, 0);
	cursor: crosshair;
    z-index: 10;
}

button:hover~.text {
    clip-path: circle(120% at 50% 90%);
}

.text {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
    padding: 80px 30px;
    background-color: rgba(61, 57, 53, 0.76);
    color: $white;
	font-size: 1.5rem;
    clip-path: circle(0% at 50% 90%);
    transition: clip-path .8s;

}

h1 {
	font-size: 2.4rem;
    color: $white;
}


.cards {
	overflow: hidden;
	margin-bottom: 5em;

	&__box {
		display: grid;
		grid-template-columns: repeat(8, 1fr);
		gap: 2em;
		padding: 2em 2em;
	}

	&__card {
		position: relative;
		display: grid;
		padding: 3em;
		justify-items: center;
		text-align: center;
		align-items: center;
		border: 1px solid transparent;
		border-radius: 5px;
		background-color: $white-smoke;
		transition: background-color 0.3s, border 0.3s;
		z-index: 5;
		&:hover {
			background-color: $brown;
			border: 1px solid $brown;
			z-index: 1;
		}

		&::before {
			position: absolute;
			content: '';
			width: 100%;
			height: 100%;
			border: 1px solid $brown;
			border-radius: 5px;
			opacity: 0;
		}

		&:hover::before {
			animation: pulse 1s;
		}

		i {
			color: $light-gray;
			font-size: 8rem;
			grid-row: 1/1;
			margin-right: 75%;
		}
		h3 {
			position: absolute;
			padding: 2.5em;
			color: $dark-brown;
			text-transform: uppercase;
			font-size: 2.2rem;
			grid-row: 1/1;

			&:hover {
				color: $white-smoke;
			}
		}

		&--one {
			grid-row: 1/2;
			grid-column: 1/-1;
		}

		&--two {
			grid-row: 2/3;
			grid-column: 1/-1;
		}

		&--three {
			grid-row: 3/4;
			grid-column: 1/-1;
		}
		&--four {
			grid-row: 4/5;
			grid-column: 1/-1;
		}
		&--five {
			grid-row: 5/6;
			grid-column: 1/-1;
		}

		&--six {
			grid-row: 7/8;
			grid-column: 1/-1;
		}

		&--seven {
			grid-row: 9/10;
			grid-column: 1/-1;
		}
		&--eight {
			grid-row: 11/12;
			grid-column: 1/-1;
		}
	}
}

// party

.party {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 75vh;
	text-align: center;
	background-attachment: scroll;
	
	&__img {
		
		top: 0;
		background-attachment: scroll;
		width: 100%;
		@include heroImages('../img/wp.jpg');
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		z-index: -100;
		height: 75vh;
	}

	&__heading {
		font-family: 'Alluar', cursive;
		font-weight: 600;
		color: $white;
		margin: 1.2em;
	}
	&__text {
		font-size: 2rem;
		color: $white;
		margin: 0.2em;
	}
}

// gallery
.grid {
	&__gallery {
		width: 100%;
		max-width: 1200px;
		margin: 0 auto;
		padding: 50px 20px;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		grid-auto-rows: 250px;
		grid-auto-flow: dense;
		grid-gap: 20px;
	}
	&__item {
		position: relative;
		background-color: $white;
		overflow: hidden;
		
		&-img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			transition: transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);

			&:hover {
				transform: scale(1.1);
			}
		}

		&-zoom {
			cursor: zoom-in;
		}
	}
	&__text {
		font-size: 1.4rem;
		text-align: center;
		padding: 0 10em;
	} 
	&__btn {
		display: block;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		width: 150px;
		padding: 0.8em 1.6em;
		font-size: 1.4rem;
		background: $light-brown;
		justify-content: center;
		align-items: center;
		color: $white;
		border: none;
		border-radius: 8px;
		text-decoration: none;
		text-transform: uppercase;
		cursor: pointer;
		transition: background-color 0.3s;
		margin-bottom: 5em;
		&:hover {
			background-color: $brown;
		}
	}
}

// footer 

.footer {
	
	color: $white;
	@include sectionImages('../img/footer.jpg');

	.wrapper {
		padding: 6em 2em 2em;
	}

	&__box {
		font-size: 1.4rem;
	}

	&__box-desktop {
		display: none;
	}

	&__box-title {
		margin-bottom: 1em;
		font-size: 3rem;
		letter-spacing: 1px;
		font-family: 'Alluar', cursive;
	}
	&__box-social {
		margin: 0 0 1em;
	}

	&__box-link {
		padding: 0 0.3em;
		font-size: 2.6rem;
		color: $white;
		text-decoration: none;
		transition: color 0.3s;

		&:hover {
			color: $white;
		}
	}
	&__bottom-text {
		padding: 2em;
		text-align: center;
	}
	
}

// media
@media (min-width: 375px) {
	.header {
		padding: 5em;
		height: 60vh;

		&__img {
			height: 60vh;
		}
	
		&__heading {
			font-size: 4rem;
		}
		&__text {
			font-size: 2.5rem;
		}
}
.about {

&__text {
	padding: 1em 1em;
}
}
.party {
	padding: 2em;
	&__heading {
		font-size: 3.8rem;
	}
}
}
@media (min-width: 576px) {
	.header {
		padding: 5em;
		height: 75vh;

		&__img {
			height: 75vh;
		}
}
.about {

	&__text {
		padding: 1em 1em;
	}
	}
	
}

@media (min-width: 768px) {
	.navbar__menu--links:nth-child(4) {
		border-right: 1px solid $light-brown;
	}
	.about {

		&__text {
			padding: 1em 1em;
		}
		}
	.header {
		&__heading {
			font-size: 4.8rem;
		}
		&__text {
			font-size: 3.4rem;
		}
}

	.cards {
		&__box {
			padding: 3em 2em;
		}

		&__card {
			&--one {
				grid-row: 1/2;
				grid-column: 1/3;
			}

			&--two {
				grid-row: 1/2;
				grid-column: 3/5;
			}

			&--three {
				grid-row: 1/2;
				grid-column: 5/7;
			}
			&--four {
				grid-row: 1/2;
				grid-column: 7/9;
			}
			&--five {
				grid-row: 2/3;
				grid-column: 1/3;
			}

			&--six {
				grid-row: 2/3;
				grid-column: 3/5;
			}

			&--seven {
				grid-row: 2/3;
				grid-column: 5/7;
			}
			&--eight {
				grid-row: 2/3;
				grid-column: 7/9;
			}
		}
	}
	.party {
		padding: 16em;
		&__heading {
			font-size: 4.8rem;
		}
	}
	
	.footer {
		&__boxes {
			display: flex;
			justify-content: space-between;
		}

		&__box-desktop {
			display: block;
		}

		&__box {
			margin: 0 2em;
			width: 25%;

			&:first-child {
				width: 50%;
			}
		}

		&__box-title {
			font-size: 2.4rem;
		}

		&__box-list {
			list-style: none;
		}

		&__box-list-item {
			p {
				color: $light-brown;
				text-decoration: none;
			}
		}
	}
	
}

@media (min-width: 992px) {
	.houses {
		display: flex;
	}
	.about {

		&__text {
			padding: 1em 5em;
		}
		}
	.house {
		&__box {
			margin: 5em 0;

			&-text {
				display: flex;
				flex-direction: column;
				justify-content: flex-end;
				margin-bottom: 2.5em;
			}
		}
		&__title {
			font-size: 3.6rem;
		}
		&__text {
			font-size: 2.2rem;
		}
	}
}
@media (max-width: 767px){
	.hamburger {
		display: block;
	}

	.hamburger.active .bar:nth-child(2) {
		opacity: 0;
	}
	.hamburger.active .bar:nth-child(1) {
		transform: translateY(8px) rotate(45deg);
	}
	.hamburger.active .bar:nth-child(3) {
		transform: translateY(-8px) rotate(-45deg);
		
	}

	.navbar__menu {
		position: fixed;
		left: -100%;
		top: 70px;
		gap: 0;
		flex-direction: column;
		background-color: $very-light-brown;
		padding: 2em;
		width: 100%;
		text-align: center;
		transition: 0.3s;
		&--links {
			padding: 0.5em;
		}
	}
	.navbar__menu.active{
		left: 0;
	}
.footer {
	color: $white;
	background-color: $light-brown;
	
	.wrapper {
		padding: 6em 2em 2em;
	}

	&__box {
		font-size: 1.4rem;
	}

	&__box-desktop {
		display: block;
		text-align: center;
	}

	&__box-title {
		margin-bottom: 1em;
		font-size: 2rem;
		letter-spacing: 1px;
		font-family: 'Alluar', cursive;
	
	}
	


	&__bottom-text {
		padding: 1.5em;
		text-align: center;
	}
}
}